@import "tailwindcss";

@theme {
  --color-primary: #0d59f2;
  --color-background-light: #f5f6f8;
  --color-background-dark: #000000;

  --font-display: var(--font-space-grotesk), sans-serif;
  --font-serif: var(--font-playfair-display), serif;

  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee-reverse: marquee-reverse 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

/* Custom Utilities */
@layer utilities {
  .grid-bg {
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .grain-overlay {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAwWZof_GYNXZ5x9llg439C3hQnD06zNejV4QoFd7bTTXLGyQANDtVut4XJ27xwzjfL-Jpme5Z9Xiy0hStWkL_Yqm1se08cCMPq7B23KoNmvixcBcp5XvRIcggurBDWaGJPjMC_l6Yu33w-YMP0SS6mN-1okuYp7-n_LXTdoKJLe4UfB_qqu8Au6ta7ZJC3Loup93-iLngA9GVvVJFkIg9Q_B89efeBs0m_tuWCrf99LQIIKnuD5v-Yc9hbS02qE7y_CCdYM8FC33OL");
  }

  .text-outline {
    -webkit-text-stroke: 1.5px white;
    color: transparent;
  }

  .marquee-container {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .stretched-text {
    transform: scaleX(1.4);
    transform-origin: left;
  }
}

/* Base Styles */
body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-display selection:bg-primary selection:text-white overflow-x-hidden;
}
